body {
    background: #f4f7fa;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Cards */
.card {
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.btn {
    border-radius: 8px;
}

/* Titles */
h2 {
    font-weight: bold;
}

/* Status badges */
.badge {
    font-size: 14px;
    padding: 6px 10px;
}




.center-container {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    height: 100vh;
    /* full screen height */
}

.login-box {
    width: 350px;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}