{% extends 'base.html' %}
{% block content %}

<h2>Lost & Found 🔍</h2>

<a href="/lostfound/report/" class="btn btn-primary mb-3">Report Item</a>

{% for item in items %}
<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <h5>{{ item.title }}</h5>
        <p>{{ item.description }}</p>

        <span class="badge 
        {% if item.status == 'lost' %}bg-danger
        {% else %}bg-success{% endif %}">
            {{ item.status }}
        </span>

        <p class="text-muted">Reported by {{ item.reported_by.username }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}